body {font-size:12px; font-family:verdana,arial,helvetica,sans-serif; margin:20px; background-color:#ffffff}
div.menu {background-image: url("/home/cbio/ludwig/data/html/images/eBro_icon.jpg"); background-repeat: repeat-y;}
.text {font-size:12px; font-family:verdana,arial,helvetica,sans-serif}
h1 {font-size:24px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
h2 {font-size:18px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
h3 {font-size:16px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
h4 {font-size:14px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
h5 {font-size:12px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif; color:#444444}
h6 {font-size:11px; font-weight:normal; font-family:verdana,arial,helvetica,sans-serif}
b {font-size:12px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
th {font-size:12px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
td {font-size:12px; font-family:verdana,arial,helvetica,sans-serif}
input {font-size:12px; font-family:verdana,arial,helvetica,sans-serif}
textarea {font-size:12px; font-family:verdana,arial,helvetica,sans-serif}
select {font-size:12px; font-family:verdana,arial,helvetica,sans-serif}
pre {font-size:12px; font-family:courier,monospace}
a {text-decoration:none}
a:link {color:#003399}
a:visited {color:#003399}
a:hover {color:#33cc99}
font.new {color:#ff3333; font-size:11px; font-style:italic}
font.header {font-size:11px}
font.small {font-size:10px}
font.current {color: #444444}
font.missing {color: #ffffff}
font.title1 {color: #660033; font-size:16px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
font.title2 {color: #003366; font-size:16px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
font.title3 {color: #005050; font-size:16px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
font.title4 {color: #663300; font-size:16px; font-weight:bold; font-family:verdana,arial,helvetica,sans-serif}
h4.title10 {color: #660033}
h3.title10 {color: #660033}
h2.title10 {color: #660033}
b.title10 {color: #660033}
h4.title20 {color: #003366}
h3.title20 {color: #003366}
h2.title20 {color: #003366}
b.title20 {color: #003366}
h4.title30 {color: #005050}
h3.title30 {color: #005050}
h2.title30 {color: #005050}
b.title30 {color: #005050}
h4.title40 {color: #663300}
h3.title40 {color: #663300}
h2.title40 {color: #663300}
b.title40 {color: #663300}
h4.title50 {color: #440066}
h3.title50 {color: #440066}
h2.title50 {color: #440066}
b.title50 {color: #440066}
td.td00 {background-color: #f5e05f}
td.td10 {background-color: #f0e0e4}
td.td20	{background-color: #d4e4f0;}
td.td30	{background-color: #e0f0e0;}
td.td40	{background-color: #edddcd;}
td.td50	{background-color: #e4ddf8;}
td.td60	{background-color: #fccc99;}
pre {font-size:12px; font-family:monospace}
table.frame0 {border-color: #f5e05f; border-width: 2px 2px 2px 2px; border-style: solid; border-collapse: collapse}
table.frame1 {border-color: #f0e0e4; border-width: 2px 2px 2px 2px; border-style: solid; border-collapse: collapse}
table.frame2 {border-color: #d4e4f0; border-width: 2px 2px 2px 2px; border-style: solid; border-collapse: collapse}
table.frame3 {border-color: #e0f0e0; border-width: 2px 2px 2px 2px; border-style: solid; border-collapse: collapse}
table.frame4 {border-color: #edddcd; border-width: 2px 2px 2px 2px; border-style: solid; border-collapse: collapse}
table.frame5 {border-color: #e4ddf8; border-width: 2px 2px 2px 2px; border-style: solid; border-collapse: collapse}
table.frame6 {border-color: #fccc99; border-width: 2px 2px 2px 2px; border-style: solid; border-collapse: collapse}
table.frame30 {border-color: #005050; border-width: 2px 0px 0px 0px; border-style: solid; border-collapse: collapse}
tr.frame30 {border-color: #005050; border-width: 0px 0px 2px 0px; border-style: solid}
hr.frame0 {border: 1px solid #f5e05f; color: #f5e05f; background-color: #f5e05f; height: 1px}
hr.frame1 {border: 1px solid #f0e0e4; color: #f0e0e4; background-color: #f0e0e4; height: 1px}
hr.frame2 {border: 1px solid #d4e4f0; color: #d4e4f0; background-color: #d4e4f0; height: 1px}
hr.frame3 {border: 1px solid #e0f0e0; color: #e0f0e0; background-color: #e0f0e0; height: 1px}
hr.frame4 {border: 1px solid #edddcd; color: #e0f0e0; background-color: #e0f0e0; height: 1px}
hr.frame5 {border: 1px solid #e4ddf8; color: #e0f0e0; background-color: #e0f0e0; height: 1px}
hr.frame30 {border: 0px solid #005050; color: #005050; background-color: #005050; height: 1px}
li.ref {font-size:10px}

