import("Biobase")
import("GSEABase")
import("graph")
import("KEGGgraph")
import("pathview")
import("KEGGREST")

importMethodsFrom("AnnotationDbi", mapIds, keys, keytypes, select)
importFrom("S4Vectors", DataFrame)
importMethodsFrom("ReportingTools", publish, finish)
importFrom("ReportingTools", HTMLReport, Link)
importFrom("hwriter", hmakeTag, hwrite, hwriteImage)

importFrom("grDevices", "col2rgb", "dev.off", "png", "rgb")
importFrom("graphics", "par", "segments", "symbols", "text")
importFrom("stats", "formula", "mad", "median", "model.matrix",
             "p.adjust", "pchisq", "phyper", "pnorm", "qnorm",
             "quantile", "rnorm", "runif", "sd")
importFrom("utils", "available.packages", "browseURL",
             "capture.output", "data", "head", "memory.limit",
             "read.delim", "unzip", "write.table")

export( 
    read.eset, 
    id.types,
    map.ids,
    normalize,
    de.ana,
    pdistr,
    volcano,
    exprs.heatmap,
    probe.2.gene.eset, 
    get.kegg.genesets,
    get.go.genesets,
    parse.genesets.from.GMT,
    sbea.methods,
    sbea, 
    gs.ranking,
    download.kegg.pathways, 
    compile.grn.from.kegg,
    nbea.methods,
    nbea,
    ggea.graph,
    ggea.graph.legend,
    ea.browse,
    comb.ea.results,
    ebrowser,
    make.example.data,
    config.ebrowser
)
